<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

  <test name="TestBox">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="elements_Test.TC0001_TextBox_Test"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="RadioButton">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="elements_Test.TC0003_RadioButton_Test"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
